
/*************** Common ***************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*************** Main ***************/

#app{
    background-color: #009688;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 90%;
    display: flex;
}


/*************** Navigazione ***************/

.navigazione{
    width: 30%;
    height: 100%;
    background-color: lightseagreen;
}

/********** Utente **********/

.utente, .notifiche{
    height: 12%;
    width: 100%;

}
.utente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}
.utente_left{
    height: 100%;
    display: flex;
    align-items: center;
}
.utente_left img{
    height: 80%;
    border-radius: 50%;
    padding: 0 1rem;
}
.utente_left span{
    font-size: 1.5rem;
}

.utente_right i{
    font-size: 2rem;
    margin: 0 0.8rem;
    color: #B1B1B1;
}


/********** Notifiche **********/
.notifiche{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #8EDAFC;
}
.icon_not{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 2rem;
}

.icon_not i{
    font-size: 1.8rem;
    color: #8EDAFC;
}

.text_not{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.text_not span{
    font-size: 1.4rem;

}

/********** Ricerca **********/

.ricerca{
    height: 6%;
    width: 100%;
    background-color: #FAFAFA;
    padding: 5px;
}

.ricerca_box{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.ricerca_box i{
    width: 9%;
    text-align: center;
    color: #B6B9BB;
}

.ricerca_box input{
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}





/********** Lista Utenti **********/

.lista_utenti{
    height: 70%;
    width: 100%;
    background-color: maroon;
}





/*************** Chat ***************/


.chat{
    width: 70%;
    height: 100%;
    background-color: lightslategray;
}

.utente_chat, .box_testo{
    height: 12%;
    width: 100%;
    background-color: mediumaquamarine;
}

.messaggi_chat{
    width: 100%;
    height: 76%;
    background-color: midnightblue;
}